body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  object-fit: contain;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0rem;
}

.header, .sec-1, .sec-2, .sec-4, .footer {
  max-width: 1000px;
}

.dark-area {
  background-color: #1F2937;
  width: 100%;
  display: block;
}

.grey-area {
  background-color: #E5E7EB;
  width: 100%;
  display: block;
}

.header, .sec-1 {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.header {
  justify-content: space-between;
  color: #E5E7EB;
  font-size: 18px;
  padding: 1rem;
}

.header-logo {
  color: #F9FAF8;
  font-weight: 800;
  font-size: 24px;
}

.sec-1, .sec-3 {
  padding: 80px 1rem;
  gap: 1rem;
}

.sec-1-card {
  font-size: 18px;
  color: #E5E7Eb;
  flex: 1;
}

.sec-1-card h1 {
  font-weight: 900;
  font-size: 48px;
  color: #F9FAF8;
  margin: 1rem 0px;
}

.sec-1-card p {
  margin: 1rem 0px;
}

.sec-1-card button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  padding: .5rem 1rem;
  border-radius: 4px;
}

.sec-2 {
  padding-bottom: 80px;
}

.sec-2 h1 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.sec-2-card-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 0 80px;
}

.sec-2-card {
  flex-direction: column;
  align-items: center;
  flex: 1 1 100px;
}

.sec-2-card-image {
  flex: 1 1 80px;
  border: 4px solid #3882F6;
  border-radius: 8px;
}

.sec-3 {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin: auto;
}

.sec-3 quote {
  color: #1F2937;
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
}

.sec-3 strong {
  align-self: flex-end;
}

.sec-4 {
  flex-direction: row;
  /* flex-basis: 1000px; */
  margin: 80px 1rem;
  padding: 2em 4em;
  border-radius: 4px;
  background-color: #3882F6;
  color: #E5E7EB;
}

.sec-4-cards {
  display: flex;
  flex-basis: 1000px;
  flex-direction: row;
  gap: 4em;
}

.sec-4-cards .right-side {
  align-self: center;
}